*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo{
    color: #ffff;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 40px;
}
a{
    text-decoration: none;
    color: #8783a9;
}
.col-2 p{
    color: #f5f5f8;
    padding-top: 20px;
}
.container{
    max-width: 1500px;
    margin: auto;
}
.row{
    background-image: url(/INTERIOR-DESIGN.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px;
    background-size: cover;
}
.col-2 h1{
    color: #fffbfb;
    font-size: 50px;
    line-height: 60px;
    margin-top: 100px;
}
.btn{
    display: inline-block;
    background: #f9047a;
    color: #fff;
    padding: 10px 30px;
    margin: 100px 0;
    border-radius: 30px;
    transition: background 0.5ms;
}
.btn:hover{
    background: #6110e3;
}
.header{
    background: #340a79;
}
.row1{
    background: #1b073c;
    display: flex;
}

.col-3{   
    flex-basis: 100%;
    padding: 15px;
}
.col-3 img{
    width: 100%;
    border-radius: 4px;
}
.small_container{
    max-width: 1080px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.blog .row1 .col-3 .tab1{
    background-image: url(/city-interior-kitchen-design-1024x341.webp);
}
.blog .row1 .col-3 .tab2{
    background-image: url(pop-false-ceiling-design-for-hall-500x500.webp);
}
.blog .row1 .col-3 .tab3{
    background-image: url(/Vibrant-interior-Wall-colours.jpg);
}
.blog .row1 .col-3 .tab4{
    background-image: url(17.jpg);
}
.blog .row1 .col-3 .tab5{
    background-image: url(113-New-Design-Luxury-Walk-in-Closet-Wardrobe-Design-Modular-Furniture-Laminate-Solid-Wood-Panel-Bedroom-Modern-Wardrobe.webp);
}
.blog .row1 .col-3 .tab6{
    background-image: url(marble-vs-tiles.jpg);
}
.blog .row1 .col-3 .tab1,
.blog .row1 .col-3 .tab2,
.blog .row1 .col-3 .tab3,
.blog .row1 .col-3 .tab4,
.blog .row1 .col-3 .tab5,
.blog .row1 .col-3 .tab6{
    filter: grayscale(50%);
    background-size: cover;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    flex: 1 0 200px;
}
.blog .row1 .col-3{
    transition: transform 0.5s;
}
.blog .row1 .col-3:hover{
    transform: translateY(-10px);
}
.blog .row1 .col-3 .tab1 p,
.blog .row1 .col-3 .tab2 p,
.blog .row1 .col-3 .tab3 p,
.blog .row1 .col-3 .tab4 p,
.blog .row1 .col-3 .tab5 p,
.blog .row1 .col-3 .tab6 p{
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    justify-content: center;
    text-shadow: 0px 10px 10px black;
}
.title{
    padding: 20px;
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #fbfafa;
    background-color: #1b073c;
}
.title::after{
    content: '';
    background: #eb0e8b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
    color: #555;
}
.ratings .fa{
    color: #e00446;
}
.col-4 :hover{
    transform: translateY(-5px);
}
.cont{
    background-color: #340a79;
}
.col-5{
    min-width: 250px;
}
.col-5 h1{
    color: #080000;
    font-size: 50px;
    line-height: 60px;
    margin-top: 10px;
}
.col-5 img{
    max-width: 100%;
    padding: 100px 0;
    width: 90%;
}
.row2{
    display: flex;
    align-items: center;
    justify-self: space-around;
    gap: 25px;
}
.small-container1{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #1b073c;

}
.offer{
    background: radial-gradient(#fff,#ffd6d6);
}
.col-5 p{
    color: #340a79;
}
.row2 a{
    color: #5a4dd1;
}
.row2 .btn{
    display: inline-block;
    background: #652de9;
    color: #fff;
    padding: 10px 30px;
    margin: 100px 0;
    border-radius: 30px;
    transition: background 0.5ms;
}
.row2 .btn:hover{
    background: #372ae7;
}
.small-container2{
    max-width: 1300px;
    margin: auto;
    display: flex;

}
.small-container2 .row1{
    width: 100%;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 0 200px;
}
.testimonials{
    max-width: 100%;
}
.testimonials .col-4{
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    transition: transform 0.5s;
}
.testimonials .col-4 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonials .col-4:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #e00446;
}
.col-4 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonials .col-4 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*---------------brands----------*/
.brands .row1{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center
}
.col-6{
    width: 160px;
}
.col-6 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-6 img:hover{
    filter: grayscale(0);
}

.footer .row4{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
    justify-content: space-around;
}
.footer{
    background: #0a011a;
    color: #8a8a8a;
    font-size: 14px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4, .footer-col-5{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4, .footer-col-5{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 600px){

    nav ul{
        position: absolute;
        top: 150px;
        left: 0;
        background: #161616;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #8783a9;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*media query for less than 600 screen size*/
@media only screen and (max-width: 600px){
    .row, .row1, .row2, .row3{
        display: block;
        text-align: center;
    }
    .col-3, .col-4, .col-5, .col-6, .small-container2, .container{
        display: block;
        flex-basis: 100%;
    }
    .row4{
        
        flex-direction: column;
    }
}
/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.body{
  min-height: 100vh;
  width: 100%;
  background: #c8e8e9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container1{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container1 .content1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container1 .content1 .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content1 .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content1 .left-side .details{
  margin: 14px;
  text-align: center;
}
.content1 .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content1 .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content1 .left-side .details .text-one,
.content1 .left-side .details .text-two,
.content1 .left-side .details .text-three{
  font-size: 14px;
  color: #afafb6;
}
.container1 .content1 .right-side{
  width: 75%;
  margin-left: 75px;
}
.content1 .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}
@media (max-width: 950px) {
  .container1{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container1 .content1 .right-side{
   width: 75%;
   margin-left: 55px;
}

}
@media (max-width: 820px) {
  .container1{
    margin: 40px 0;
    height: 100%;
  }
  .container1 .content1{
    flex-direction: column-reverse;
  }
 .container1 .content1 .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container1 .content1 .left-side::before{
   display: none;
 }
 .container1 .content1 .right-side{
   width: 100%;
   margin-left: 0;
 }
}
.map{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.map .container-map{
    width: 100%;
    height: 800px;

}
@media only screen and (max-width: 600px){

    nav ul{
        position: absolute;
        top: 150px;
        left: 0;
        background: #161616;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #8783a9;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
@media only screen and (max-width: 600px){
    .row, .row1, .row2, .row3{
        display: block;
        text-align: center;
    }
    .col-3, .col-4, .col-5, .col-6, .small-container2, .container{
        display: block;
        flex-basis: 100%;
    }
    .row4{
        
        flex-direction: column;
    }
}